@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Bebas+Neue&display=swap');

.navbar a {
  color: var(--color-secondary);
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
}

.navbar a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.year-box {
  border: 4px solid #f57c00;      /* thick border colour */
  border-radius: 8px;             /* optional rounded corners */
  padding: 1rem;                  /* space inside the box */
  margin: 1.5rem 0;               /* space above and below */
  background: rgba(0, 0, 0, 0.4); /* optional background */
}

.year-box a {
  color: #f57c00;
}

.year-box a:hover {
  color: #ff9800;
}

body {
  background-image: url("assets/hoop_night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center bottom; */
 background-position: center 70%;
}

